/.OntologicalModelingLanguageDescriptionLabelProvider.java._trace
/.OntologicalModelingLanguageDescriptionLabelProvider.xtendbin
/.OntologicalModelingLanguageLabelProvider.java._trace
/.OntologicalModelingLanguageLabelProvider.xtendbin
/OntologicalModelingLanguageDescriptionLabelProvider.java
/OntologicalModelingLanguageLabelProvider.java
