.boot
.gradle
.idea
.ivy
.sbtboot
*~
*.log
*._trace
*.xtendbin
.DS_Store
build
target
/gov.nasa.jpl.imce.oml.specification.scala.generators/.project
/gov.nasa.jpl.imce.oml.specification.scala.generators/.settings/org.eclipse.jdt.core.prefs
/gov.nasa.jpl.imce.oml.specification.scala.generators/.settings/org.eclipse.xtend.core.Xtend.prefs
/gov.nasa.jpl.imce.oml.specification.scala.generators/.settings/org.eclipse.xtext.java.Java.prefs
/gov.nasa.jpl.imce.oml.specification.scala.generators/xtend-gen/
/jpl.imce.oml.specification.ecore.edit/.classpath
/jpl.imce.oml.specification.ecore.edit/.project
/jpl.imce.oml.specification.ecore.edit/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification.ecore.edit/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification.ecore.edit/.settings/org.eclipse.xtext.java.Java.prefs
/jpl.imce.oml.specification.ecore.editor/.classpath
/jpl.imce.oml.specification.ecore.editor/.project
/jpl.imce.oml.specification.ecore.editor/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification.ecore.editor/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification.ecore.editor/.settings/org.eclipse.xtext.java.Java.prefs
/jpl.imce.oml.specification.ecore/.project
/jpl.imce.oml.specification.ide/.project
/jpl.imce.oml.specification.ide/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification.ide/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification.ide/.settings/org.eclipse.xtext.java.Java.prefs
/jpl.imce.oml.specification.repository/.classpath
/jpl.imce.oml.specification.repository/.project
/jpl.imce.oml.specification.repository/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification.repository/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification.repository/.settings/org.eclipse.xtext.java.Java.prefs
/jpl.imce.oml.specification.tests/.project
/jpl.imce.oml.specification.tests/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification.tests/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification.tests/.settings/org.eclipse.xtext.java.Java.prefs
/jpl.imce.oml.specification.ui.tests/.project
/jpl.imce.oml.specification.ui.tests/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification.ui.tests/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification.ui.tests/.settings/org.eclipse.xtext.java.Java.prefs
/jpl.imce.oml.specification.ui/.project
/jpl.imce.oml.specification.ui/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification.ui/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification.ui/.settings/org.eclipse.xtext.java.Java.prefs
/jpl.imce.oml.specification.web/.classpath
/jpl.imce.oml.specification.web/.project
/jpl.imce.oml.specification.web/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification.web/.settings/org.eclipse.wst.common.component
/jpl.imce.oml.specification.web/.settings/org.eclipse.wst.common.project.facet.core.xml
/jpl.imce.oml.specification.web/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification.web/.settings/org.eclipse.xtext.java.Java.prefs
/jpl.imce.oml.specification/.project
/jpl.imce.oml.specification/.settings/org.eclipse.jdt.core.prefs
/jpl.imce.oml.specification/.settings/org.eclipse.xtend.core.Xtend.prefs
/jpl.imce.oml.specification/.settings/org.eclipse.xtext.java.Java.prefs
