/.OMLImportedNamespaceAwareLocalScopeProvider.java._trace
/.OMLImportedNamespaceAwareLocalScopeProvider.xtendbin
/.OMLScopeExtensions.java._trace
/.OMLScopeExtensions.xtendbin
/.OMLScopeProvider.java._trace
/.OntologicalModelingLanguageScopeProvider.java._trace
/.OntologicalModelingLanguageScopeProvider.xtendbin
/OMLImportedNamespaceAwareLocalScopeProvider.java
/OMLScopeExtensions.java
/OntologicalModelingLanguageScopeProvider.java
