/.OMLAnnotationTest1.java._trace
/.OMLAnnotationTest1.xtendbin
/.OMLAnnotationTest2.java._trace
/.OMLAnnotationTest2.xtendbin
/.OMLTerminologyExtensionTest1.java._trace
/.OMLTerminologyExtensionTest1.xtendbin
/.OMLTerminologyGraph1.java._trace
/.OMLTerminologyGraph1Test.java._trace
/.OMLTerminologyGraph1Test.xtendbin
/.OMLTerminologyGraph2Test.java._trace
/.OMLTerminologyGraph2Test.xtendbin
/.OMLTerminologyGraph3Test.java._trace
/.OMLTerminologyGraph3Test.xtendbin
/.OntologicalModelingLanguageParsingTest.java._trace
/.OntologicalModelingLanguageParsingTest.xtendbin
/OMLAnnotationTest1.java
/OMLAnnotationTest2.java
/OMLTerminologyExtensionTest1.java
/OMLTerminologyGraph1Test.java
/OMLTerminologyGraph2Test.java
/OMLTerminologyGraph3Test.java
/OntologicalModelingLanguageParsingTest.java
