/Annotation.java
/AnnotationEntry.java
/AnnotationProperty.java
/AnnotationSubjectPropertyValue.java
/AnonymousConceptTaxonomyAxiom.java
/Aspect.java
/AspectSpecializationAxiom.java
/Axiom.java
/BinaryScalarRestriction.java
/Bundle.java
/BundledTerminologyAxiom.java
/Concept.java
/ConceptDesignationTerminologyAxiom.java
/ConceptSpecializationAxiom.java
/ConceptTreeDisjunction.java
/DataRange.java
/DataRelationship.java
/DataRelationshipDomain.java
/DataRelationshipFromEntity.java
/DataRelationshipFromStructure.java
/DataRelationshipRange.java
/DataRelationshipToScalar.java
/DataRelationshipToStructure.java
/Datatype.java
/DisjointUnionOfConceptsAxiom.java
/Entity.java
/EntityExistentialRestrictionAxiom.java
/EntityRelationship.java
/EntityRestrictionAxiom.java
/EntityScalarDataProperty.java
/EntityScalarDataPropertyExistentialRestrictionAxiom.java
/EntityScalarDataPropertyParticularRestrictionAxiom.java
/EntityScalarDataPropertyRestrictionAxiom.java
/EntityScalarDataPropertyUniversalRestrictionAxiom.java
/EntityStructuredDataProperty.java
/EntityUniversalRestrictionAxiom.java
/IRIScalarRestriction.java
/NumericScalarRestriction.java
/OMLFactory.java
/OMLPackage.java
/PlainLiteralScalarRestriction.java
/ReifiedRelationship.java
/ReifiedRelationshipSpecializationAxiom.java
/Resource.java
/RestrictedDataRange.java
/RootConceptTaxonomyAxiom.java
/Scalar.java
/ScalarDataProperty.java
/ScalarOneOfLiteralAxiom.java
/ScalarOneOfRestriction.java
/SpecializationAxiom.java
/SpecificDisjointConceptAxiom.java
/StringScalarRestriction.java
/Structure.java
/StructuredDataProperty.java
/SynonymScalarRestriction.java
/Term.java
/TermAxiom.java
/TerminologyAxiom.java
/TerminologyBox.java
/TerminologyBoxAxiom.java
/TerminologyBoxStatement.java
/TerminologyBundleAxiom.java
/TerminologyBundleStatement.java
/TerminologyExtensionAxiom.java
/TerminologyExtent.java
/TerminologyGraph.java
/TerminologyGraphKind.java
/TerminologyNestingAxiom.java
/TerminologyStatement.java
/TerminologyThing.java
/TimeScalarRestriction.java
/UnreifiedRelationship.java
/ConceptualEntity.java
/DirectedBinaryRelationshipKind.java
/Module.java
/UnaryTermKind.java
/ConceptInstance.java
/ConceptualEntitySingletonInstance.java
/DataStructureTuple.java
/DescriptionBox.java
/DescriptionBoxExtendsClosedWorldDefinitions.java
/DescriptionBoxRefinement.java
/DescriptionBoxRelationship.java
/DescriptionKind.java
/ReifiedRelationshipInstance.java
/ReifiedRelationshipInstanceDomain.java
/ReifiedRelationshipInstanceRange.java
/ScalarDataPropertyValue.java
/SingletonInstance.java
/StructuredDataPropertyValue.java
/TerminologyInstanceAssertion.java
/UnreifiedRelationshipInstanceTuple.java
