/.OntologicalModelingLanguageIdeaModule.java._trace
/.OntologicalModelingLanguageIdeaModule.xtendbin
/.OntologicalModelingLanguageIdeaSetup.java._trace
/.OntologicalModelingLanguageIdeaSetup.xtendbin
/.OntologicalModelingLanguageStandaloneSetupIdea.java._trace
/.OntologicalModelingLanguageStandaloneSetupIdea.xtendbin
/OntologicalModelingLanguageIdeaModule.java
/OntologicalModelingLanguageIdeaSetup.java
/OntologicalModelingLanguageStandaloneSetupIdea.java
