/AnnotationEntryImpl.java
/AnnotationImpl.java
/AnnotationPropertyImpl.java
/AnnotationPropertyTableImpl.java
/AnnotationSubjectPropertyValueImpl.java
/AnnotationSubjectTableImpl.java
/AnonymousConceptTaxonomyAxiomImpl.java
/AspectImpl.java
/AspectSpecializationAxiomImpl.java
/AxiomImpl.java
/BinaryScalarRestrictionImpl.java
/BundleImpl.java
/BundledTerminologyAxiomImpl.java
/ConceptDesignationTerminologyAxiomImpl.java
/ConceptImpl.java
/ConceptSpecializationAxiomImpl.java
/ConceptTreeDisjunctionImpl.java
/DataRangeImpl.java
/DataRelationshipDomainImpl.java
/DataRelationshipFromEntityImpl.java
/DataRelationshipFromStructureImpl.java
/DataRelationshipImpl.java
/DataRelationshipRangeImpl.java
/DataRelationshipToScalarImpl.java
/DataRelationshipToStructureImpl.java
/DatatypeImpl.java
/DisjointUnionOfConceptsAxiomImpl.java
/EntityExistentialRestrictionAxiomImpl.java
/EntityImpl.java
/EntityRelationshipImpl.java
/EntityRestrictionAxiomImpl.java
/EntityScalarDataPropertyExistentialRestrictionAxiomImpl.java
/EntityScalarDataPropertyImpl.java
/EntityScalarDataPropertyParticularRestrictionAxiomImpl.java
/EntityScalarDataPropertyRestrictionAxiomImpl.java
/EntityScalarDataPropertyUniversalRestrictionAxiomImpl.java
/EntityStructuredDataPropertyImpl.java
/EntityUniversalRestrictionAxiomImpl.java
/IRIScalarRestrictionImpl.java
/NumericScalarRestrictionImpl.java
/OMLFactoryImpl.java
/OMLPackageImpl.java
/PlainLiteralScalarRestrictionImpl.java
/ReifiedRelationshipImpl.java
/ReifiedRelationshipSpecializationAxiomImpl.java
/ResourceImpl.java
/RestrictedDataRangeImpl.java
/RootConceptTaxonomyAxiomImpl.java
/ScalarDataPropertyImpl.java
/ScalarImpl.java
/ScalarOneOfLiteralAxiomImpl.java
/ScalarOneOfRestrictionImpl.java
/SpecializationAxiomImpl.java
/SpecificDisjointConceptAxiomImpl.java
/StringScalarRestrictionImpl.java
/StructureImpl.java
/StructuredDataPropertyImpl.java
/SynonymScalarRestrictionImpl.java
/TermAxiomImpl.java
/TermImpl.java
/TerminologyAxiomImpl.java
/TerminologyBoxAxiomImpl.java
/TerminologyBoxImpl.java
/TerminologyBoxStatementImpl.java
/TerminologyBundleAxiomImpl.java
/TerminologyBundleStatementImpl.java
/TerminologyExtensionAxiomImpl.java
/TerminologyExtentImpl.java
/TerminologyGraphImpl.java
/TerminologyNestingAxiomImpl.java
/TerminologyStatementImpl.java
/TerminologyThingImpl.java
/TimeScalarRestrictionImpl.java
/UnreifiedRelationshipImpl.java
/ConceptualEntityImpl.java
/DirectedBinaryRelationshipKindImpl.java
/ModuleImpl.java
/UnaryTermKindImpl.java
/ConceptInstanceImpl.java
/ConceptualEntitySingletonInstanceImpl.java
/DataStructureTupleImpl.java
/DescriptionBoxExtendsClosedWorldDefinitionsImpl.java
/DescriptionBoxImpl.java
/DescriptionBoxRefinementImpl.java
/DescriptionBoxRelationshipImpl.java
/ReifiedRelationshipInstanceDomainImpl.java
/ReifiedRelationshipInstanceImpl.java
/ReifiedRelationshipInstanceRangeImpl.java
/ScalarDataPropertyValueImpl.java
/SingletonInstanceImpl.java
/StructuredDataPropertyValueImpl.java
/TerminologyInstanceAssertionImpl.java
/UnreifiedRelationshipInstanceTupleImpl.java
