<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="org.eclipse.e4.ui.workbench.swt.E4Application"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/jpl.imce.oml.specification.ide.feature"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-jpl.imce.oml.specification.ide.feature"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.sdk.ide"/>
<setAttribute key="selected_features">
<setEntry value="jpl.imce.oml.specification.feature:default"/>
<setEntry value="org.eclipse.e4.rcp:default"/>
<setEntry value="org.eclipse.ecf.core.feature:default"/>
<setEntry value="org.eclipse.ecf.core.ssl.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient4.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.ssl.feature:default"/>
<setEntry value="org.eclipse.egit:default"/>
<setEntry value="org.eclipse.emf.cdo.compare:default"/>
<setEntry value="org.eclipse.emf.cdo.doc:default"/>
<setEntry value="org.eclipse.emf.cdo.epp:default"/>
<setEntry value="org.eclipse.emf.cdo.examples.installer.source:default"/>
<setEntry value="org.eclipse.emf.cdo.examples.installer:default"/>
<setEntry value="org.eclipse.emf.cdo.server.db:default"/>
<setEntry value="org.eclipse.emf.cdo.server:default"/>
<setEntry value="org.eclipse.emf.cdo:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.ui.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.ui:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore:default"/>
<setEntry value="org.eclipse.emf.codegen.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ui.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ui:default"/>
<setEntry value="org.eclipse.emf.codegen:default"/>
<setEntry value="org.eclipse.emf.common.ui.source:default"/>
<setEntry value="org.eclipse.emf.common.ui:default"/>
<setEntry value="org.eclipse.emf.common:default"/>
<setEntry value="org.eclipse.emf.compare.egit:default"/>
<setEntry value="org.eclipse.emf.compare.ide.ui:default"/>
<setEntry value="org.eclipse.emf.compare:default"/>
<setEntry value="org.eclipse.emf.converter.source:default"/>
<setEntry value="org.eclipse.emf.converter:default"/>
<setEntry value="org.eclipse.emf.databinding.edit.source:default"/>
<setEntry value="org.eclipse.emf.databinding.edit:default"/>
<setEntry value="org.eclipse.emf.databinding.source:default"/>
<setEntry value="org.eclipse.emf.databinding:default"/>
<setEntry value="org.eclipse.emf.doc.source:default"/>
<setEntry value="org.eclipse.emf.doc:default"/>
<setEntry value="org.eclipse.emf.ecore.edit.source:default"/>
<setEntry value="org.eclipse.emf.ecore.edit:default"/>
<setEntry value="org.eclipse.emf.ecore.editor.source:default"/>
<setEntry value="org.eclipse.emf.ecore.editor:default"/>
<setEntry value="org.eclipse.emf.ecore:default"/>
<setEntry value="org.eclipse.emf.ecp.cdo.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.e4.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.emfforms.runtime.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.emfstore.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.categorization.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.compoundcontrol.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.custom.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.edapt.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.group.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.horizontal.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.label.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.model.controls.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.model.editor.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.rule.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.stack.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.table.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.template.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.treemasterdetail.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.unset.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.validation.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.validation.initial.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.vertical.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.view.viewproxy.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.viewmodel.feature:default"/>
<setEntry value="org.eclipse.emf.ecp.workspace.feature:default"/>
<setEntry value="org.eclipse.emf.edapt.runtime.feature.source:default"/>
<setEntry value="org.eclipse.emf.edapt.runtime.feature:default"/>
<setEntry value="org.eclipse.emf.edit.source:default"/>
<setEntry value="org.eclipse.emf.edit.ui.source:default"/>
<setEntry value="org.eclipse.emf.edit.ui:default"/>
<setEntry value="org.eclipse.emf.edit:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.editor.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.editor:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore:default"/>
<setEntry value="org.eclipse.emf.mapping.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ui.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ui:default"/>
<setEntry value="org.eclipse.emf.mapping:default"/>
<setEntry value="org.eclipse.emf.sdk:default"/>
<setEntry value="org.eclipse.emf.source:default"/>
<setEntry value="org.eclipse.emf.workspace:default"/>
<setEntry value="org.eclipse.emf:default"/>
<setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.discovery.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.rcp.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.user.ui:default"/>
<setEntry value="org.eclipse.help:default"/>
<setEntry value="org.eclipse.jgit:default"/>
<setEntry value="org.eclipse.net4j.db.h2:default"/>
<setEntry value="org.eclipse.net4j.db:default"/>
<setEntry value="org.eclipse.net4j.examples.installer.source:default"/>
<setEntry value="org.eclipse.net4j.examples.installer:default"/>
<setEntry value="org.eclipse.net4j.util.ui:default"/>
<setEntry value="org.eclipse.net4j.util:default"/>
<setEntry value="org.eclipse.net4j:default"/>
<setEntry value="org.eclipse.platform:default"/>
<setEntry value="org.eclipse.rcp:default"/>
<setEntry value="org.eclipse.xtext.runtime:default"/>
<setEntry value="org.eclipse.xtext.ui:default"/>
<setEntry value="org.eclipse.xtext.xbase.lib:default"/>
<setEntry value="org.eclipse.xtext.xbase:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
