/.OMLSpecificationResolverAPIGenerator.java._trace
/.OMFSchemaTableGenerator.java._trace
/.OMLSpecificationTablesGenerator.java._trace
/.OMFSchemaResolverImplGenerator.java._trace
/.OMLSpecificationResolverLibraryGenerator.java._trace
